<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uchihan.smartb_card">

    <application
        android:name=".SmartBCardApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartBCard"
        tools:replace="android:allowBackup">
        <activity
            android:name=".presentation.ui.splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.registration.RegistrationActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="@string/NEARBY_MESSAGE_API_KEY" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"></activity>
    </application>

</manifest>